.container {
    width: 1140px;        
    margin: 0 auto;  
    padding: 0 15px;   
}

body {
    font-family: "Noto Serif", serif!important;
    font-weight: <weight>!important;
}
.font-inter{
    font-family: "Inter", sans-serif!important;
}

.join-bg {
    padding: 200px 0px;
    background-image: url("images/news-letter-bg.png");
     background-size: cover; 
     background-repeat: no-repeat; 
     height: 550px;
     background-position: center;
}